[run]
parallel = True
concurrency = multiprocessing
branch = True
include =
    ka_be_order/api/*
    ka_be_order/apps/*
    ka_be_order/clients/*
    ka_be_order/drf/*
    ka_be_order/event_handlers/*
    ka_be_order/libs/*
    ka_be_order/services/*
    ka_be_order/tasks/*
    ka_be_order/utils/*
omit =
    */__init__.py
    */fixtures/*
    */migrations/*
    */models.py
    */config.py
