*.egg-info/
*.log
*.pyc
*.sqlite
*.sqlite.backup
*.sqlite.*
.DS_Store
.Python
.idea/
.coverage
.env
.env.*
.ropeproject
.tmp_commits_squashed
.python-version
bin/
coverage.xml
dist/
data/
include/
lib/
logs/
nosetests.xml
oscar_commerceconnect.egg-info/
public/
stderr.txt
stdout.txt
version-django-oscar-commerce-connect.txt
dump.rdb
venv/
.venv/
.vscode/
XDG_CACHE_HOME/

# coverage
htmlcov/
coverage.xml
.coverage

pickle/

.scannerwork/
maintenance_mode_state.txt
cloud_sql_proxy