[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.6"
djangorestframework = "==3.14.0"
django-oscar = "==3.2.2"
django-oscar-api = "==3.2.4"
django-cors-headers = "==4.3.0"
django-redis = "==5.4.0"
django-rq = "==2.8.1"
django-autoslug = "==1.9.9"
django-su = "==1.0.0"
gunicorn = "==21.2.0"
pillow = "==10.0.1"
pyopenssl = "==23.2.0"
python-slugify = "==8.0.1"
python-jose = "==3.3.0"
coverage = "==7.3.2"
requests = "==2.31.0"
dj-database-url = "==2.1.0"
psycopg = {extras = ["binary"], version = "==3.1.12"}
pycountry = "==22.3.5"
google-cloud-secret-manager = "==2.16.4"
django-storages = {extras = ["google"], version = "==1.14.2"}

[dev-packages]
pre-commit = "*"
flake8 = "==6.1.0"
pylint = "==3.0.1"
autopep8 = "==2.0.4"

[requires]
python_version = "3.8.18"
